# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
media/

# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb

# AWS
*.pem

# Claude
CLAUDE.md